<button class="button-yellow" @onclick="Callback">@Caption</button>

@code {
    [Parameter]
    [EditorRequired]
    public string Caption { get; set; } = string.Empty;

    [Parameter]
    public EventCallback Callback { get; set; }
}