@* <div class="top-row ps-3 navbar navbar-dark"> *@
<div class="navbar navbar-light" style="background-color: #ffc107;">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MonkeyFinderHybrid</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">


    </nav>
</div>
