@page "/"
@inject MonkeyService monkeyService

<div>
    @if (monkeys is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <ul class="card-list">
            @foreach (var monkey in monkeys)
            {
                <li class="card-item">
                    <img class="card-image" src="@monkey.Image">
                    <div class="card-content">
                        <h2>@monkey.Name</h2>
                        <p>@monkey.Location</p>
                    </div>
                </li>
            }
        </ul>
    }
</div>

@code {
    private List<Monkey> monkeys = new();

    protected override async Task OnInitializedAsync()
    {
        // Load monkeys from MonkeyService
        monkeys = await monkeyService.GetMonkeys();
    }
}
